input[type = radio]{
    vertical-align: baseline;
}

button.accordion{
    display: inline-block;
    position: relative;
    background-color: blue;
    background-image: linear-gradient( /* chrome */
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
    );
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    text-shadow:
      0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
      0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
    border: none;
    border-radius: 50px;
    margin: 10px;
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
      width: 75%;


}

div.panel {
    display: inline-block;
    position: relative;
    background-color: red;
    background-image: linear-gradient( /* chrome */
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
    );
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    text-shadow:
      0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
      0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
    border: none;
    border-radius: 50px;
    margin: 10px;
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
    display: none;
    width: 75%;
}

html{
    background-color: black;
    background-image: linear-gradient( /* chrome */
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
    );
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    text-shadow:
      0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
      0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
    border: none;
    border-radius: 50px;
    margin: 10px;
    box-shadow:
      inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
      inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
      -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
      5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    text-align: center;
    clear: left;
}

#descrt{
    text-align: center;
}


#login_section{
    position: absolute;
    top: 0px;
    left: 10px;
}