table{
    border-collapse: collapse;
    font-size: 1.5em;
    text-align: center;
    color: white;
    table-layout: fixed;
}


table, th, td{
    border-color: blue;
    border-style: ridge;
    padding: 5px;
    border-width: 7px;
}

td{
    width: 30%;
    max-width: 1200px;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

html{
    background-color: black;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    text-shadow:
      0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
      0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
    border: none;
    margin: 10px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}